<div class="row justify-content-center">
	<div class="col-md-8 alert alert-danger text-center shadow p-4">
		<h2 class="mb-4">Oops! You don't have access to this page.</h2>
		<p>Click the button below to embark on a journey back to our welcoming home.</p>
		<hr class="my-4" />
		<p>
			<a asp-controller="Teas" asp-action="Index" class="btn btn-success btn-lg">Explore Home</a>
		</p>
	</div>
</div>
