@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<div class="container text-center">
	<div class="jumbotron bg-light p-5 shadow-lg">
		<h1 class="display-4 text-danger">Uh-Oh, Something Went Wrong!</h1>
		<h2 class="text-danger">An error occurred while processing your request.</h2>
	</div>
</div>
